.landing_page {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu";
}

.background_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper button {
  background-color: transparent;
  border: solid;
  border-color: rgb(250, 250, 250);
  border-width: 2px;
  font-weight: 100;
}

.wrapper button:hover {
  background-color: black;
  border: none;
  font-weight: 600;
}

.buy_now_button a {
  text-decoration: none;
  color: rgb(250, 250, 250);
}

.centered_buy {
  z-index: 99;
}
.Landing-Title {
  font-family: "ubuntu";
  color: #fff;
  font-size: 5rem;
  z-index: 99;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  gap: 40px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 99;
  margin: auto;
}

@media screen and (max-width: 844px) {
  .landing_page button {
    height: 100%;
    width: 200%;
  }

  .landing_page button:hover {
    height: 200%;
    width: 300%;
  }
}
::-webkit-scrollbar {
  display: none;
}
