.login_form {
  max-width: 300px;
  margin: 100px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  text-align: center;
}

.container h1 {
  margin-bottom: 20px;
}

.error {
  color: red;
  margin-top: 10px;
}

body {
  margin: 0 !important;
}
