.item {
  padding-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 30vh;
  font-family: "Helvetica Neue", sans-serif;
  min-width: 250px;
  min-height: 250px;
}

.item-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  height: 30vh;
  width: 30vh;
  min-width: 250px;
  min-height: 250px;
}

.item__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.item__description h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
  flex: 1 1 auto;
}

.item__price {
  font-size: 1rem;
  font-weight: bold;
  color: #999;
  margin-bottom: 1rem;
  flex: 1 1 auto;
}

button {
  background-color: #7b7c7e;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 2px;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #1f1f1f;
}

.favorite__button {
  padding: 0.5rem 0.7rem;
  background-color: #f67373;
}

.favorite__button:hover {
  padding: 0.5rem 0.7rem;
  background-color: #f63737;
}

.fav__buttons button {
  margin: 0.2rem;
}
