.item-cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5%;
  width: 90%;
  font-family: "Helvetica Neue", sans-serif;
}

.item-card-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  height: 5%;
  width: 100%;
}

.item__description-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.item__description-cart h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
  flex-grow: 1;
}

.item__price-cart {
  font-size: 1rem;
  font-weight: bold;
  color: #999;
  margin-bottom: 1rem;
  flex-grow: 1;
}

.item__image-cart {
  max-width: 100%;
  max-height: 10rem;
}

button {
  background-color: #7b7c7e;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 2px;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 0%;
  margin-bottom: 1rem;
}

button:hover {
  background-color: #1f1f1f;
}

.favorite__button-cart {
  padding: 0.5rem 0.7rem;
  background-color: #f67373;
}

.favorite__button-cart:hover {
  padding: 0.5rem 0.7rem;
  background-color: #f63737;
}

.fav__buttons-cart button {
  margin: 0.2rem;
}

.message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.message-bottom {
  bottom: 40px;
}

.item {
  position: relative;
}

.message-popup {
  position: fixed;
  bottom: 20px;
  right: 45%;
  z-index: 2;
}

.message-popup__content {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #dbf2e6;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message-popup__content i {
  color: #24a148;
  margin-right: 8px;
}

@media screen and (max-width: 844px) {
  .item__image {
    height: 50%;
  }
}
