.item {
  padding-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 40vh;
  font-family: "Helvetica Neue", sans-serif;
  min-width: 250px;
  min-height: 250px;
}

.item-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  height: 50vh;
  width: 50vh;
  min-width: 250px;
  min-height: 250px;
}

.item__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.item__description h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
  flex: 1 1 auto;
  margin-bottom: 0%;
}

.item__price {
  font-size: 1rem;
  font-weight: bold;
  color: #999;
  margin-bottom: 1rem;
  flex: 1 1 auto;
  margin-bottom: 0%;
}

.item__image {
  width: auto;
  height: 70%;
}

button {
  background-color: #7b7c7e;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 2px;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 0%;
}

button:hover {
  background-color: #1f1f1f;
}

.favorite__button {
  padding: 0.5rem 0.7rem;
  background-color: #f67373;
}

.favorite__button:hover {
  padding: 0.5rem 0.7rem;
  background-color: #f63737;
}

.fav__buttons button {
  margin: 0.2rem;
}

.message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.message-bottom {
  bottom: 40px;
}

.item {
  position: relative;
}

.message-popup {
  position: fixed;
  bottom: 20px;
  right: 45%;
  z-index: 2;
}

.message-popup__content {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #dbf2e6;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message-popup__content i {
  color: #24a148;
  margin-right: 8px;
}

@media screen and (max-width: 844px) {
  .item__image {
    height: 50%;
  }
}
