.navbar {
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: "Helvetica Neue", sans-serif;
}

.menu-toggle {
  color: #7a7979;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 2rem;
  font-size: 1.2rem;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  color: #7a7979;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-links a:hover {
  color: #a3a2a2;
}

.nav-links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: #1f1f1f;
  padding: 1rem;
  transition: all 0.3s ease-in;
  z-index: 1;
}

.nav-links.active li {
  margin-right: 0;
  margin-bottom: 1rem;
}

.nav-links.active a {
  font-size: 1.2rem;
}

.nav-icon {
  color: #7a7979;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.nav-icon:hover {
  color: #a3a2a2;
}

.nav-button {
  color: #7a7979;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-button:hover {
  color: #a3a2a2;
}

img {
  height: 60px;
  width: 60px;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #1f1f1f;
    padding: 1rem;
    transition: all 0.3s ease-in;
    z-index: 1;
  }
}
